* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('images/level1.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(10px);
  position: relative;
}

.container {
  position: relative;
  background: url('images/level1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow-x: hidden;
  background-position: center;
  /* margin: auto; */
  width: auto;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  perspective: 1000px;
}

.mute-button-picture,
.unmute-button-picture {
  position: absolute;
  top: -6px;
  right: -3px;
  z-index: 20;
  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
}

.hide {
  display: none;
}

.cursor,
.cursor-saber,
.blood {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 3;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.cursor,
.cursor-saber {
  z-index: 999;
}

.cursor-saber {
  width: 90px;
  height: 200px;
}

#munition-counter {
  position: absolute;
  font-size: 50px;
  padding: 5px;
  border-radius: 5px;
  top: 65%;
  right: 50px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.509);
  background-color: rgba(255, 255, 255, 0.149);
  position: absolute;
  font-size: 50px;
  padding: 5px;
  border-radius: 5px;
  top: 70%;
  right: 50px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.149);
}

.blood {
  z-index: 10;
}

#mute-button {
  z-index: 20;
  position: absolute;
  top: 50px;
  right: 50px;
}

#start-game-button {
  border-radius: 20px;
  font-size: 35px;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 150%);
  z-index: 22;
}

.zombie {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  /* top:38%; */
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 20;
  transform-style: preserve-3d;
}

.zombie-walk {
  animation: zombie-walk 2s ease-in-out infinite;
}

@keyframes zombie-walk {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.bullet {
  width: 150px;
  position: absolute;
  top: 65%;
  left: 100px;
  display: none;
  z-index: 999;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.247);
}

.munition-container {
  position: absolute;
  top: 80%;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.149);
  padding: 0 10px;
}

.small-bullet {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  background-image: url('bullet.png');
  background-size: cover;
}

.weapon-selection {
  position: absolute;
  top: 100px;
  left: 400px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.saber-button,
.gun-button {
  width: 130px;
  height: 130px;
  border: none;
  background: transparent;
  margin: 10px 20px;
  transition: all 350ms ease;
  border-radius: 5px;
  cursor: pointer;
}

.saber-button:hover,
.gun-button:hover {
  background: url('images/scratched.png');
  /* background-color: yellow; */
}

.saber-picture,
.gun-picture {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.gun-picture {
  transform: rotate(-20deg);
}

#video-container {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: none;
  pointer-events: none;
}

video {
  position: absolute;
  z-index: 20;
  width: 100%;
}