* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("images/level1.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    object-fit: cover;
    overflow: hidden;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(10px);
}


.container {
    position: relative;
    background: url("images/level1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow-x: hidden;
    background-position: center;
    margin: auto;
    width: auto;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.cursor,
.blood {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 3;
    transform: translate(-150%, -50%);
    pointer-events: none;

}

.mute-button-picture,
.unmute-button-picture {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 20;
    cursor: pointer;
    background: #ffffff;
    border-radius: 10px;
}

.hide {
    display: none;
}

.blood {
    z-index: 10;
}

.start-game {
    border-radius: 20px;
    font-size: 35px;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 150%);
    z-index: 1;
}

.duck {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 350%);
    z-index: 2;
    transition: all 1s;
}